@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

*{
    margin: 0%;
    padding: 0;

    box-sizing: border-box;
    font-family: 'Noto Sans Mono', monospace;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #dfdfdf;
    
}
.login-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 440px;
    height: 480px;
    padding: 30px;

}
.login-header{
    text-align: center;
    margin: 20px 0 40px 0; 
}
.login-header header{
    color: #333;
    font-size: 30px;
    font-weight: 600;
}
.input-box .input-field{
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.05);
    outline: none;
    transition: 1s;
}
::placeholder{
    font-weight: 500;
}
.input-field:focus{
    width: 105%;
}
.forgot{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
section{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
}
#check{
    margin-right: 10px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
section a{
    color: #555;
}
.input-submit{
    position: relative;
}
.submit-btn{
    width: 100%;
    height: 60px;
    background: #222;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 1s;
}
.input-submit label{
    position: absolute;
    top: 45%;
    left: 50%;
    color: #fff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.submit-btn:hover{
    background: #000;
    transform: scale(1.05,1);
}
.sign-up-link{
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}
.sign-up-link a{
    color: #000;
    font-weight: 600;
}

body {background-color: #d1d6cb00;
  background-image: url('https://images.unsplash.com/photo-1544640808-32ca72ac7f37');
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fefefe;
  font-family: Tahoma;
}

h1 {
  color: rgba(59, 61, 57);
  margin-top: 50px;
  text-align: center;
  text-shadow: 3px 3px 2px #fefefe;
}

#description {
  text-align: center;
  font-size: 1.1rem;
  color: rgba(59, 61, 57);
  background-color: rgba(255, 255, 255, 0.8);
  height: 25px;
  border-radius: 50px;
  max-width: 500px;
  min-width: 300px;
  margin: 10px auto;
}

#survey-form {
  background-color: rgba(59, 61, 57, 95%);
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding: 10px;
}

label {
  margin-bottom: 5px;
}

#name-label input,
#email-label input,
#number-label input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 5px;
  height: 30px
}

fieldset {
  border: none;
  margin-top: 25px
}

hr {
  width: 70%;
}

#line-2 {
  margin:30px auto;
}

#dropdown {
  display: block;
  height: 30px;
  width: 100%;
  margin: 10px 0;
}

.radio-btn, .checkbox {
  display: block;
}

textarea {
  display: block;
  width: 100%;
  margin: 20px 0;
}

::placeholder {
  font-family: Tahoma;
  font-style: italic;
  padding: 10px;
}

input[type="submit"] {
  width: 100%;
  height: 40px;
  background-color: #719150;
  border: none;
  color: fefefe;
  font-size: 1.1rem;
  margin-bottom: 15px;}